* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
}
p {
  font-size: 11px;
  line-height: 150%;
  font-weight: 400;
}
h1 {
  font-size: 25px;
  line-height: 0px;
}
h2 {
  font-size: 15px;
}
h3 {
  font-size: 11px;
}
.title {
  font-weight: 200;
}

.nav-bar {
  background: #F55A5A;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  font-weight: 500;
}
.nav-bar > i {
  padding-right: 7px;
  font-size: 24px;
}
.card {
  max-width: 495px;
  max-height: 208px;
  margin: auto;
  margin-top: 23px;
  display: flex;
  padding: 19px 17px;
}
.card-profile {
  width: 125px;
  height: 168px;
  object-fit: cover;
  margin-right: 19px;
  border-radius: 5px;
}
.card-text {
  width: 345px;
  height: 168px;
  /*background: yellow;*/
}
.card-header {
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.card-header > a {
  font-size: 11px;
}
.card-header > i {
  font-size: 11px;
}
.fa-location-dot {
  color: #F55A5A;
}
.country {
  margin: 0 12px 0 4px;
  font-weight: 400;
}
.city {
  margin: 7px 0 7px 0;
  font-weight: 700;
  line-height: normal;
}
.date {
  font-weight: 700;
  line-height: normal;
}
/*
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

*/